html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1d1d1d;
    color: #f3f3f3;
}

body .preheader {
    padding: 50px 50px 10px 50px;
    font-size: 60px;
    font-weight: bold;
    color: #da2;
    text-align: center;
    border-bottom: 1px solid #484848;
}

body .preheader .sidekick {
    font-size: large;
    font-weight: 100;
    color: #f3f3f3;
    margin-top: 10px;
}

body nav {
    position: sticky;
    top: 0;
}

body nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    background: rgba(29, 29, 29, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

body nav ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}

body nav ul li a {
    text-decoration: none;
    color: #5472d3;
    transition: 0.2s;
}

body nav ul li a:hover {
    color: #0d47a1;
}

body section {
    min-height: 100vh;
    padding-top: 12px;
    display: grid;
    place-items: center;
    font-size: 50px;
    font-weight: bold;
    background: #121212;
    word-break: break-all;
}

.descr {
    text-align: justify;
}

footer {
    padding: 12px 0;
    background: #121212;
    text-align: center;
}

.container {
    width: 100%;
}

.card {
    background-color: #1d1d1d;
    width: 100%;

    font-weight: 100;
    font-size: medium;
    padding: 12px;

    margin: 8px auto;
}

* {
    box-sizing: border-box;
}

.card ul {
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
}

.card ul li {
    border-top: 1px solid #484848;
    flex: 1 0 25%;
}

.container a {
    color: #ececec;
    text-decoration: none;
}

.card h2 {
    text-decoration: underline;
}

.cert_place {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 128px;
}

.cert_place p {
    margin: 0;
    letter-spacing: 0px;
    font-weight: bold;
}

.cert_caption {
    padding-left: 12px;
    display: table-cell;
    vertical-align: middle;
}

.socials {
    margin: 15px 0 0 0;
}

.socials ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: 4px;
}

.socials li {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    height: 32px;
    margin-right: 4px;
}

.socials li a {
    color: #ececec;
    transition: 0.2s;
}

.socials li a:hover {
    color: #888888;
}

@media screen and (min-device-width: 800px) {
    .card {
        width: 98%;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}